/*GENERAL AND WRAPPER STYLING*/
body{
  background-color: black;
  width: 90%;
  margin: auto;
  margin-top: 1%;
}

.big_wrapper{
  display: flex;
  margin: auto;
  flex-flow: column wrap;
  width: 80%;
  justify-content: center;
}

div.music {
  display: inline-block;
  width: 100%;
}

/*NAV STYLING*/
nav {
  background-color: #FFB4B0;
  border: 3px solid white;
  height: 55px;
  width: 99.6%;
}

nav ul li:hover{
  text-decoration: underline;
  color: #785616;
}

nav li {
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
  font-size: 1.2em;
  color: black;
}

/*HOME SIDEBAR STYLING*/
.sidebar {
  float: left;
  display: block;
  margin-top: 1%;
  width: 27%;
  background-color: #4DD7FA;
  border: 3px solid white;
  font-size: 1.1em;
}

.sidebar label, .sidebar p{
  padding-left: 4%;
  font-weight: bold;
}

.sidebar input[type="button"]{
  margin-left: 32.5%;
  margin-top: 2%;
  margin-bottom: 5%;
  border-radius: 15px;
  border: 2px solid black;
  padding: 2%;
  width: 35%;
}

.sidebar select {
  padding: 2%;
  width: 70%;
  margin-top: 4%;
  margin-left: 14%;
  text-align: center;
  border-radius: 10px;
}

.sidebar input[type="range"] {
  width: 80%;
  margin-left: 10%;
}

.sidebar input[type="checkbox"]{
  vertical-align: middle;
  margin-left: 14%;
}
/*MAIN MUSIC LIST DIV*/
main section {
  float: right;
  background-color: #FEFAC0;
  border: 3px solid white;
  width:70%;
  margin-bottom: 1%;
  margin-top: 1%;
}

main section p {
  display: inline-block;
  padding-left: 3%;
}

main section h2{
  padding-left: 3%;
  color: #785616;
  line-height: 20px;
}

.main_title h2{
  text-align: center;
  color: black;
}

.main_title {
  background-color: #4DD7FA;
}
/*ADD MUSIC PAGE STYLING*/
section.add_music{
  margin-top: .5%;
  width: 100%;
}

.add_music_legend{
  font-size: 1.4em;
  background-color: white;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

.new_song_form{
  background-color: #4DD7FA;
  border: 3px solid white;
  width: 78%;
  margin: auto;
}

.hidden{
  display: none;
}

.new_song_form label{
  margin-left: 30%;
  font-size: 1.4em;
  margin-right: 5%;
}

.new_song_form input{
  border-radius: 20px;
  padding: .5%;
  border: 2px solid black;
}

.delete{
  position: relative;
  left: 40px;
  border-radius: 30px;
  background-color: #FFB4B0;
  border: 2px solid black;
  font-size: .4em;
  /*margin-left: 50%;*/
  vertical-align: middle;
}

.delete:hover{
  background-color: red;
  cursor: pointer;
}

.new_song_form input[type="button"]{
  padding-right: 4%;
  padding-left: 4%;
  font-size: 1.1em;
}

.add{
  margin-left: 30%;
}

.clear{
  margin-left: 5%;
}
