/*@import 'footer' THIS WOULD IMPORT A (_FOOTER.SCSS) FILE*/

$test-color: red;

body{
  background-color: $test-color;
}

/*GENERAL AND WRAPPER STYLING*/
/*body{
  background-color: black;
  width: 90%;
  margin: auto;
  margin-top: 1%;
  font-family: 'Taviraj', serif;
}

.big_wrapper{
  display: flex;
  margin: auto;
  flex-flow: column wrap;
  width: 80%;
  justify-content: center;
}

div.music {
  display: inline-block;
  width: 100%;
}

/*NAV STYLING*/
/*nav {
  background-color: #FFB4B0;
  border: 3px solid white;
  height: 55px;
}

nav ul li:hover{
  text-decoration: underline;
  color: #785616;
}

nav li {
  display: inline-block;
  margin-top: 1.3%;
  margin-right: 1%;
  margin-left: 1%;
  font-size: 1.2em;
  color: black;
}
*/
/*HOME SIDEBAR STYLING*/
/*.sidebar {
  float: left;
  display: block;
  margin-top: 1%;
  width: 27%;
  background-color: #4DD7FA;
  border: 3px solid white;
  font-size: 1.1em;
}

.sidebar label, .sidebar p{
  padding-left: 4%;
  font-weight: bold;
}

.sidebar input[type="button"]{
  display: inline-block;
  margin-left: 28%;
  margin-top: 10%;
  margin-bottom: 5%;
  border-radius: 15px;
  border: 2px solid black;
  padding: 1.5%;
  width: 45%;
}

.clear{
  display: inline-block;
}


.sidebar select {
  padding: 1%;
  width: 70%;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 14%;
  text-align: center;
  border-radius: 10px;
}

.length_val{
  margin-left: 10%;
  font-size: .9em;
  border: 2px solid black;
  background-color: white;
  border-radius: 40px;
  padding: .5%;
  padding-left: 3%;
  padding-right: 3%;
}
*/
/*.sidebar input[type="range"] {
  width: 70%;
  display: inline-block;
  margin-left: 10%;
}

.sidebar input[type="checkbox"]{
  vertical-align: middle;
  font-size: .9em;
  margin-left: 9%;
}
/*MAIN MUSIC LIST DIV*/
/*main section {
  float: right;
  background-color: #FEFAC0;
  border: 3px solid white;
  width:72%;
  margin-bottom: 1%;
  margin-top: 1%;
}

main section p {
  display: inline-block;
  padding-left: 3%;
}

main section h2{
  padding-left: 3%;
  color: #785616;
  line-height: 20px;
}

.main_title h2{
  text-align: center;
  margin-bottom: 2%;
  color: black;
}

.main_title {
  background-color: #4DD7FA;
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'Taviraj', serif;
}

.add_more{
  margin-bottom: 0;
  margin-top: -2%;
  border: none;
  cursor: pointer;
}

.drop_down{
  margin-left: 46%;
  font-size: 2em;
}

.more{
  margin-top: 3%;
  text-align: center;
  padding: 1%;
  background: black;
  border-radius: 30px;
  opacity: .7;
  color: #FEFAC0;
  font-size: 2em;
}

.more span{
  text-decoration: underline;
  font-size: .7em;
  text-align: center;
}

.song_name{
  font-family: 'Taviraj', serif;
}

/*ADD MUSIC PAGE STYLING*/
/*section.add_music{
  margin-top: .5%;
  width: 100%;
}

.add_music_legend{
  font-size: 1.4em;
  background-color: white;
  border-radius: 20px;
  padding-left: 10px;
  margin-left: 1.5%;
  width: 15%;
  color: black;
}

.new_song_form{
  background-color: #4DD7FA;
  border: 3px solid white;
  width: 80%;
  margin: auto;
}

.hidden{
  display: none;
}

.success_banner{
  border: 2px solid white;
  background-color: #FFB4B0;
  font-size: 1.5em;
  width: 80%;
  margin: auto;
  text-align: center;
}

.new_song_form label{
  margin-left: 35%;
  font-size: 1.4em;
  margin-right: 5%;
}

.new_song_form input{
  border-radius: 20px;
  padding: .5%;
  border: 2px solid black;
  text-align: center;
}

.delete{
  margin-left: 7.5%;
  border-radius: 150px;
  background-color: #FFB4B0;
  padding: .3%;
  border: 2px solid black;
  font-size: .3em;
  vertical-align: middle;
}

.remove{
  background-color: #FFB4B0;
  color: black;
  font-size: .4em;
  border: 2px solid black;
  margin-left: 7.5%;
  margin-bottom: -2%;
  padding-left: 1.5px;
  padding-top: -20px;
  padding-bottom: -20px;
  padding-right: 1.5px;
  border-radius: 150px;
}

/*.delete:hover{
  background-color: red;
  cursor: pointer;
}

.new_song_form input[type="button"]{
  padding-right: 4%;
  padding-left: 4%;
  font-size: 1.1em;
}

.add{
  margin-left: 37%;
}

.clear{
  margin-left: 5%;
}

.artist{
  margin-left: 2%;
}
*/
