body{
  width: 70%;
  margin: auto;
  margin-top: 4.5%;
}

div.wrapper{
  margin-left: 11.3%;
}
div.music {
  display: inline-block;
  width: 830px;
  /*margin-left: 3%;*/
}
nav {
  background-color: #FFB4B0;
  border: 3px solid black;
  margin: auto;
  height: 55px;
  width: 825px;
}

nav ul li:hover{
  text-decoration: underline;
}

nav li {
  display: inline-block;
  margin-right: 1%;
  margin-left: 1%;
  font-size: 1.2em;
}

.sidebar {
  float: left;
  display: block;
  margin-top: 1%;
  width: 250px;
  height: 443px;
  background-color: #4DD7FA;
  border: 3px solid black;
  font-size: 1.3em;
}

.sidebar label, .sidebar p{
  padding-left: 4%;
  font-weight: bold;
}

.sidebar input[type="button"]{
  margin-left: 32.5%;
  margin-top: 5%;
  border-radius: 15px;
  border: 2px solid black;
  padding: 2%;
  width: 35%;
}
.sidebar label{
  margin-top: 3%;
}

.sidebar select {
  padding: 2%;
  width: 70%;
  margin-top: 4%;
  margin-left: 14%;
  text-align: center;
  border-radius: 10px;
}

.sidebar input[type="range"] {
  width: 80%;
  margin-left: 10%;
}

.sidebar input[type="checkbox"]{
  vertical-align: middle;
  margin-left: 8%;
}

main section {
  float: right;
  background-color: #FEFAC0;
  border: 3px solid black;
  width: 67%;
  margin-top: 1%;
}

main section p {
  display: inline-block;
  padding-left: 3%;
}

main section h2{
  padding-left: 3%;
  color: #785616;
  line-height: 20px;
}

.add_music_legend{
  font-size: 1.4em;
  background-color: black;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  color: #FEFAC0;
}

.new_song_form{
  background-color: #4DD7FA;
  border: 2px solid black;
  width: 803px;
  margin-left: 11.4%;
  margin-top: .5%;
}

.hidden{
  display: none;
}

.new_song_form label{
  margin-left: 30%;
  font-size: 1.2em;
  margin-right: 5%;
}

.new_song_form input{
  vertical-align: middle;
  border-radius: 20px;
  padding: .5%;
  border: 2px solid black;
}

.new_song_form input[type="button"]{
  padding-right: 4%;
  padding-left: 4%;
  margin-left: 42%;
  font-size: 1.1em;
  border: 2px solid black;
}
